<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>

    <div>
        <button class="nav-item nav-link-edit" [routerLink]="['/game']">Game</button>
    </div>
    <div>


        <h1>Leaderboard</h1>

        <table>
            <tr>
                <th>Player</th>
                <th>Wins</th>
            </tr>
            <tr>
                <td>Leaf</td>
                <td>100</td>
            </tr>
            <tr>
                <td>CJ</td>
                <td>8</td>
            </tr>
        </table>


    </div>
</body>

</html>